@charset "utf-8";

body {
  background: #e1e1e1;
  font-family: 'Ubuntu', sans-serif;
}

header h1{
  width: 5px;
  float: left;
  text-indent: -99999px;
}

header a.logo {
  display: block;
  margin-top: -30px;
  margin-left: 30px;
  width: 200px;
  height: 74px;
  float: left;
  background: url("imagens/logo-big-size.png");
  text-indent: -99999px;
}

.burger {
  position: absolute;
  z-index: 10;
  right: 41px;
  top: 39px;
  cursor: pointer;
  -webkit-transform: rotateY(0);
          transform: rotateY(0);
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}

.burger__patty {
  width: 45px;
  height: 4px;
  margin: 8px 0 8px 0;
  background: #3d300b;
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.burger__patty:last-child {
  margin-bottom: 0;
}
.burger--close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.burger--close .burger__patty:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(12px, 12px);
          transform: rotate(45deg) translate(12px, 12px);
}
.burger--close .burger__patty:nth-child(2) {
  opacity: 0;
}
.burger--close .burger__patty:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(5px, -4px);
          transform: rotate(-45deg) translate(5px, -4px);
}

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden;
}
.menu--active {
  visibility: visible;
}
.menu__brand, .menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: column wrap;
      flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  width: 50%;
  height: 100vh;
  overflow: hidden;
}
.menu__list {
  margin: 0;
  padding: 0;
  background: #918F8F;
  list-style-type: none;
  -webkit-transform: translate3d(0, -100%, 0);
          transform: translate3d(0, -100%, 0);
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__list--active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.menu__brand {
  background: #e1e1e1;
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-transform: translate3d(0, 100%, 0);
          transform: translate3d(0, 100%, 0);
}
.menu__brand--active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.menu__item {
  -webkit-transform: translate3d(500px, 0, 0);
          transform: translate3d(500px, 0, 0);
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__item--active {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}
.menu__link {
  display: inline-block;
  position: relative;
  font-size: 30px;
  padding: 15px 0;
  font-weight: 300;
  color: #3d300b;
  text-decoration: none;
  color: #3d300b;
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__link:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 10px;
  height: 2px;
  background: #3d300b;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
.menu__link:hover:before {
  width: 100%;
}
.menu .menu__item:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}
.menu .menu__item:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}
.menu .menu__item:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}
.menu .menu__item:nth-child(4) {
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}
.menu .menu__item:nth-child(5) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
.menu .menu__item:nth-child(6) {
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

@media screen and (max-width: 768px) {
  ul.menu__list,
  div.menu__brand {
    float: none;
    width: 100%;
    min-height: 0;
  }
  ul.menu__list--active,
  div.menu__brand--active {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }

  .menu__list {
    height: 75vh;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }

  .menu__link {
    font-size: 24px;
  }

  .menu__brand {
    height: 25vh;
    -webkit-transform: translate3d(100%, 0, 0);
            transform: translate3d(100%, 0, 0);
  }
  .menu__brand .logo {
    width: 90px;
    height: 90px;
  }
}
.menina {
  width: 339px;
  height: 500px;
  background: url("imagens/menina.png");
}

a.contacts { 
  display: block; 
  padding-top: 10px;
  padding-bottom: 10px;
  margin-right: 150px;
  color: #cfb35c;
  width: 150px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  font-weight:bold;
  border-style: solid;
  border-width: 3px;
  border-left-width: 3px;
  border-right-width: 3px;
  border-color: #cfb35c;
  float: right;
}

.image-foreground {
  position: fixed;
  top: -93px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99;
}


h2{
  padding-top: 120px;
  margin-left: 38px;
  font-size: 50px;
  color: #3d300b;
}

a.destinos {
  display: block; 
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 150px;
  color: #cfb35c;
  width: 150px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  font-weight:bold;
  border-style: solid;
  border-width: 3px;
  border-left-width: 3px;
  border-right-width: 3px;
  border-color: #cfb35c;
}

.btn{
  display: block; 
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -50px;
  margin-left: 344px;
  margin-bottom: 190px;
  color: #cfb35c;
  width: 270px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 20px;
  font-weight:bold;
  border-style: solid;
  border-width: 3px;
  border-left-width: 3px;
  border-right-width: 3px;
  border-color: #cfb35c;
}


.socialicon{
  list-style-type: none;
  padding-top: 30px;
}

a.face {
  display: block;
  margin: 0px 0px 5px 0px;
  float: none;
  width: 40px;
  height: 40px;
  background: url("imagens/face.png");
  text-indent: -99999px;
}

a.insta {
  display: block;
  margin: 0px 0px 5px 0px;
  float: none;
  width: 40px;
  height: 40px;
  background: url("imagens/insta.png");
  text-indent: -99999px;
}

a.pinterest {
  display: block;
  margin: 0px 0px 5px 0px;
  float: none;
  width: 40px;
  height: 40px;
  background: url("imagens/pinterest.png") no-repeat;
  text-indent: -99999px;
}

footer a.youtube {
  display: block;
  margin: 0px 0px 5px 0px;
  float: none;
  width: 40px;
  height: 40px;
  background: url("imagens/youtube.png") no-repeat;
  text-indent: -99999px;
}